@font-face {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  src: url();
}

:root {
  --var1: ;
  --var2: ;
  --var3: ;
}

/* GLOBAL SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Segoe UI;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* HEADER  */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
header {
  background-color: rgb(231, 231, 231);
  height: 100vh;
}

.wrapper {
  background-color: #afc6de;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 20px;
  width: 50%;
  box-shadow: 0 0 14px 14px #afc6de;
}

h1 {
  font-size: 5rem;
  color: #4b6178;
}
label {
  color: #4b6178;
  font-size: 3rem;
}
input,
option,
select {
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 5px;
  width: 100%;
}
.tableoutput {
  font-size: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

table,
tbody,
td {
  text-align: left;

  background-color: white;
  border-radius: 20px;
}
.tableheadlines {
  font-weight: bold;
  color: rgb(61, 145, 176);
}
td {
  width: 10%;
  padding: 1rem;
}
.genderman,
.genderwoman {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: baseline;
}
.genderman input,
.genderwoman input {
  width: 2rem;
  height: 2rem;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border-radius: 10px;
  font-size: 4rem;
  font-weight: bold;
  background-color: rgb(104, 104, 190);
  color: white;
  border: 0;
  transition: all ease-in-out 250ms;
}
.button:hover {
  cursor: pointer;
  transform: translateY(-6px);

  border-bottom: 5px solid rgb(95, 95, 95);
}
